<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Authn Entity Control Parameter Setting</title>
    </head>
    <body>
        <form method="post" action="paramsform">
            <select name="authresult">
                <option value="SUCCEED" th:selected="${authresult == 'SUCCEED'}">SUCCEED</option>
                <option value="UNAUTHORIZED" th:selected="${authresult == 'UNAUTHORIZED'}">UNAUTHORIZED</option>
                <option value="CANCELLED" th:selected="${authresult == 'CANCELLED'}">CANCELLED</option>
            </select>
            <input type="number" name="waitinsec" th:value="${waitinsec} ? ${waitinsec} : 10">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>